<section class="about section">
  <h2 class="about-title section-title">Якість в деталях</h2>
  <div class="container">
    <ul class="about-benefits-list">
      <li class="about-benefits-item">
        <picture class="about-benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about/petal-freshness-desctop.jpg    1x,
              /img/about/petal-freshness-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/about/petal-freshness-tablet.jpg  1x,
              /img/about/petal-freshness-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 390px)"
            srcset="
              ../img/about/petal-freshness-mobile.jpg  1x,
              /img/about/petal-freshness-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ../img/about/petal-freshness-mobile-mini.jpg    1x,
              ../img/about/petal-freshness-mobile-mini@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-benefits-img"
            src="../img/about/petal-freshness-desctop.jpg"
            alt="Букет білих і рожевих піонів"
            width="659"
            height="509"
            loading="lazy"
          />
        </picture>

        <div class="about-benefits-descr">
          <h3 class="about-benefits-title">Контроль свіжості квітів</h3>
          <p class="about-benefits-text">
            Ми співпрацюємо з кращими постачальниками квітів і готові
            запропонувати Вам <span>широкий асортимент квітів</span>, починаючи
            від місцевих сортів і закінчуючи рідкісними імпортованими
            варіантами. Ваша близька людина отримає найкращий подарунок, адже ми
            ретельно підбираємо кожну квітку для вашого букету.
          </p>
        </div>
      </li>

      <li class="about-benefits-item">
        <picture class="about-benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about/florist-mastery-desctop.jpg    1x,
              /img/about/florist-mastery-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about/florist-mastery-tablet.jpg    1x,
              /img/about/florist-mastery-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 390px)"
            srcset="
              /img/about/florist-mastery-mobile.jpg    1x,
              /img/about/florist-mastery-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/about/florist-mastery-mobile-mini.jpg    1x,
              /img/about/florist-mastery-mobile-mini@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-benefits-img"
            src="/img/about/florist-mastery-desctop.jpg"
            alt="Флорист збирає букет з білих і рожевих роз"
            width="659"
            height="509"
            loading="lazy"
          />
        </picture>
        <div class="about-benefits-descr">
          <h3 class="about-benefits-title">Оформлення букетів</h3>
          <p class="about-benefits-text">
            Ми готові зібрати
            <span>унікальний букет по індивідуальному замовленню</span>. Наші
            флористи втілять в життя будь яку Вашу ідею!
          </p>
        </div>
      </li>

      <li class="about-benefits-item">
        <picture class="about-benefits-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/about/delivery-with-care-desctop.jpg    1x,
              /img/about/delivery-with-care-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/about/delivery-with-care-tablet.jpg  1x,
              /img/about/delivery-with-care-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 390px)"
            srcset="
              /img/about/delivery-with-care-mobile.jpg    1x,
              /img/about/delivery-with-care-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/about/delivery-with-care-mobile-mini.jpg    1x,
              /img/about/delivery-with-care-mobile-mini@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="about-benefits-img"
            src="/img/about/delivery-with-care-desctop.jpg"
            alt="Рука, яка тримає букет з різних квітів"
            width="659"
            height="509"
            loading="lazy"
          />
        </picture>
        <div class="about-benefits-descr">
          <h3 class="about-benefits-title">Швидка доставка</h3>
          <p class="about-benefits-text">
            Ми робимо доставки по Україні протягом <span>3-х годин </span>
            з моменту оплати замовлення.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
