<section class="catalog section" id="catalog">
  <h2 class="catalog-title section-title">Каталог</h2>
  <div class="container">
    <h3 class="catalog-block-title">Хіт продажів</h3>
    <ul class="catalog-products-list">
      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart-blue"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/moonlight-petal-desctop.jpg    1x,
              /img/catalog/moonlight-petal-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/moonlight-petal-mobile.jpg    1x,
              /img/catalog/moonlight-petal-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/moonlight-petal-desctop.jpg"
            alt="Букет Місячна Пелюстка"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-badge catalog-products-badge--sale">
          Акція
        </div>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">500 ₴</span>
          <del
            class="catalog-products-old-price catalog-products-old-price--visible"
          >
            700 ₴
          </del>
        </div>
        <h4 class="catalog-products-title">Місячна Пелюстка</h4>
      </li>

      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/morning-melody-desctop.jpg    1x,
              /img/catalog/morning-melody-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/morning-melody-mobile.jpg    1x,
              /img/catalog/morning-melody-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/morning-melody-desctop.jpg"
            alt="Букет Ранкова Мелодія"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">800 ₴</span>
        </div>
        <h4 class="catalog-products-title">Ранкова Мелодія</h4>
      </li>

      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/royal-bloom-desctop.jpg    1x,
              /img/catalog/royal-bloom-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/royal-bloom-mobile.jpg    1x,
              /img/catalog/royal-bloom-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/royal-bloom-desctop.jpg"
            alt="Букет Королівський Розмай"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">1000 ₴</span>
        </div>
        <h4 class="catalog-products-title">Королівський Розмай</h4>
      </li>

      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/petal-fantasy-desctop.jpg    1x,
              /img/catalog/petal-fantasy-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/petal-fantasy-mobile.jpg    1x,
              /img/catalog/petal-fantasy-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/petal-fantasy-desctop.jpg"
            alt="Букет Пелюсткова Феєрія"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">680 ₴</span>
        </div>
        <h4 class="catalog-products-title">Пелюсткова Феєрія</h4>
      </li>

      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/warm-touch-desctop.jpg    1x,
              /img/catalog/warm-touch-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/warm-touch-mobile.jpg    1x,
              /img/catalog/warm-touch-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/warm-touch-desctop.jpg"
            alt="Букет Теплий Дотик"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-badge catalog-products-badge--new">
          Новинка
        </div>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">450 ₴</span>
        </div>
        <h4 class="catalog-products-title">Теплий Дотик</h4>
      </li>

      <li class="catalog-products-item">
        <button
          class="catalog-products-favorite-btn"
          type="button"
          aria-label="Додати в обране"
        >
          <svg class="catalog-products-favorite-icon" width="28" height="28">
            <use href="/img/icons/icons-sprite.svg#heart"></use>
          </svg>
        </button>
        <picture class="catalog-products-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/crystal-iris-desctop.jpg    1x,
              /img/catalog/crystal-iris-desctop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/crystal-iris-mobile.jpg    1x,
              /img/catalog/crystal-iris-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="catalog-products-img"
            src="/img/catalog/crystal-iris-desctop.jpg"
            alt="Букет Кришталевий Ірис"
            width="290"
            height="290"
            loading="lazy"
          />
        </picture>
        <div class="catalog-products-badge catalog-products-badge--water">
          З водою
        </div>
        <div class="catalog-products-price-box">
          <span class="catalog-products-price">560 ₴</span>
        </div>
        <h4 class="catalog-products-title">Кришталевий Ірис</h4>
      </li>
    </ul>
    <a class="catalog-view-all btn-component" href="">Замовити квіти</a>
  </div>
</section>
