<header class="header">
  <div class="container">
    <div class="header-inner">
      <a class="header-logo" href="">
        <img
          class="header-logo-img"
          src="/img/icons/logo.svg"
          alt="Logo"
          width="111"
          height="59"
        />
      </a>
      <nav class="header-menu">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#catalog">Каталог</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about">Про нас</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#order">Як замовити</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#reviews">Відгуки </a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#contacts">Контакти </a>
          </li>
        </ul>
        <button class="header-burger-menu" type="button">
          <svg class="header-burger-menu-svg" width="32" height="18">
            <use href="/img/icons/icons-sprite.svg#burger-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
