<section class="hero section">
  <div class="container">
    <div class="hero-inner">
      <h1 class="hero-title">
        Неймовірні
        <br />
        <span>Букети</span>
        зі свіжих квітів
      </h1>
      <p class="hero-subtitle">З доставкою по Києву протягом 1 години</p>
      <button class="hero-btn" type="button">Замовити квіти</button>
    </div>
    <ul class="hero-list">
      <li class="list-item">
        <img class="item-img" src="/img/icons/rose.svg" alt="Rose" />
        <p class="item-descr">Щоденне оновлення</p>
      </li>
      <li class="list-item">
        <img
          class="item-img"
          src="/img/icons/marker-map.svg"
          alt="Marker on the map"
        />
        <p class="item-descr">Безкоштовна доставка</p>
      </li>
      <li class="list-item">
        <img
          class="item-img"
          src="/img/icons/navigation.svg"
          alt="Navigation"
        />
        <p class="item-descr">Більше 1000 сортів квітів</p>
      </li>
    </ul>
  </div>
</section>
