<section class="hero section">
  <div class="container">
    <div class="hero-inner">
      <h1 class="hero-title">
        Неймовірні
        <br />
        <span>Букети</span>
        зі свіжих квітів
      </h1>
      <p class="hero-subtitle">З доставкою по Києву протягом 1 години</p>
      <a class="hero-btn btn-component" href="#order">Замовити квіти</a>
    </div>
    <ul class="hero-benefits-list">
      <li class="hero-benefits-item">
        <img class="hero-benefits-img" src="/img/icons/rose.svg" alt="Rose" />
        <p class="hero-benefits-text">Щоденне оновлення</p>
      </li>
      <li class="hero-benefits-item">
        <img
          class="hero-benefits-img"
          src="/img/icons/marker-map.svg"
          alt="Marker on the map"
        />
        <p class="hero-benefits-text">Безкоштовна доставка</p>
      </li>
      <li class="hero-benefits-item">
        <img
          class="hero-benefits-img"
          src="/img/icons/navigation.svg"
          alt="Navigation"
        />
        <p class="hero-benefits-text">Більше 1000 сортів квітів</p>
      </li>
    </ul>
  </div>
</section>
