<section class="order section" id="order">
  <h2 class="order-help-title order-title section-title">
    Не можете визначитись з вибором букету?
  </h2>
  <div class="order-form-wrapper">
    <form class="order-form">
      <h3 class="order-form-title">
        Відправте заявку <br />
        і Вам зателефонують<br />
        протягом однієї хвилини
      </h3>
      <div class="order-form-field">
        <input
          class="order-form-input"
          id="user"
          name="user"
          type="text"
          placeholder="Ім'я"
          required
        />
        <label class="order-form-label" for="user">
          <svg class="order-form-icon" width="24" height="24">
            <use href="/img/icons/icons-sprite.svg#user"></use>
          </svg>
        </label>
      </div>
      <div class="order-form-field">
        <input
          class="order-form-input"
          id="phone"
          name="phone"
          type="text"
          placeholder="Телефон"
          required
        />
        <label class="order-form-label" for="phone">
          <svg class="order-form-icon" width="24" height="24">
            <use href="/img/icons/icons-sprite.svg#phone"></use>
          </svg>
        </label>
      </div>
      <button class="order-form-btn btn-component">Залишити заявку</button>
    </form>
    <div class="order-descr">
      <h3 class="order-descr-title">Наш менеджер по телефону:</h3>
      <ul class="order-descr-list">
        <li class="order-descr-item">
          <span>Відповість </span>на будь які запитання
        </li>
        <li class="order-descr-item">
          <span>Підбере рішення </span>відповідно до ваших запитів та бажань
        </li>
        <li class="order-descr-item">
          <span>Підготує унікальну пропозицію </span>та детально розповість Вам
          про наші букети
        </li>
        <li class="order-descr-item">
          <span>Оформить </span>для Вас подарунок-сюрприз
        </li>
      </ul>
    </div>
  </div>
  <h2 class="order-customers-title order-title section-title" id="reviews">
    Наші клієнти
  </h2>
  <div class="order-swiper-container container">
    <div class="order-swiper swiper">
      <ul class="order-swiper-list swiper-wrapper">
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-1-desctop.jpg    1x,
                /img/order/customer-1-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-1-mobile.jpg    1x,
                /img/order/customer-1-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-1-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-2-desctop.jpg    1x,
                /img/order/customer-2-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-2-mobile.jpg    1x,
                /img/order/customer-2-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-2-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-3-desctop.jpg    1x,
                /img/order/customer-3-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-3-mobile.jpg    1x,
                /img/order/customer-3-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-3-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-4-desctop.jpg    1x,
                /img/order/customer-4-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-4-mobile.jpg    1x,
                /img/order/customer-4-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-4-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-1-desctop.jpg    1x,
                /img/order/customer-1-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-1-mobile.jpg    1x,
                /img/order/customer-1-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-1-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-2-desctop.jpg    1x,
                /img/order/customer-2-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-2-mobile.jpg    1x,
                /img/order/customer-2-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-2-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-3-desctop.jpg    1x,
                /img/order/customer-3-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-3-mobile.jpg    1x,
                /img/order/customer-3-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-3-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="order-swiper-item swiper-slide">
          <picture class="order-swiper-picture">
            <source
              media="(min-width: 768px)"
              srcset="
                /img/order/customer-4-desctop.jpg    1x,
                /img/order/customer-4-desctop@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/order/customer-4-mobile.jpg    1x,
                /img/order/customer-4-mobile@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="order-swiper-img"
              src="/img/order/customer-4-desctop.jpg"
              alt="Дівчина тримае букет квітів"
              width="310"
              height="358"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="order-swiper-button-prev swiper-button-prev">
      <svg class="order-swiper-button-icon" width="16" height="34">
        <use href="/img/icons/icons-sprite.svg#chevron-left"></use>
      </svg>
    </div>
    <div class="order-swiper-button-next swiper-button-next">
      <svg class="order-swiper-button-icon" width="16" height="34">
        <use href="/img/icons/icons-sprite.svg#chevron-right"></use>
      </svg>
    </div>
    <div class="order-swiper-pagination swiper-pagination"></div>
  </div>
</section>
