@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("SourceSansPro-Regular.woff2") format("woff2"),
    url("SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("SourceSansPro-Light.woff2") format("woff2"),
    url("SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("SourceSansPro-SemiBold.woff2") format("woff2"),
    url("SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("SourceSansPro-Bold.woff2") format("woff2"),
    url("SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
}

body {
}
