@font-face {
  font-family: "Playfair Display";
  src:
    url("/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("/fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("/fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("/fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("/fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("/fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("/fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src:
    url("/fonts/SourceSansPro-Bold.woff2") format("woff2"),
    url("/fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* font-family */
  --font-primary: "Source Sans Pro";
  --font-secondary: "Playfair Display";
  /* Colors */
  --color-font-primary: #f5ebeb;
  --color-font-secondary: #a93b59;
  --color-font-text: #7f7f7f;
  --body-bg: #000000;
  --bottom-bg: #a93b59;
  --bottom-bg-hover: #b71742;
  --badge--sale: #a93b59;
  --badge--new: #b96a7f;
  --badge--water: #55b8ff;
  --pop-up-bg: rgba(185, 106, 127, 0.5);
}

body {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--color-font-primary);
  background-color: var(--body-bg);
}

.container {
  max-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-title {
  font-family: var(--font-secondary);
  font-size: 32px;
  font-weight: 600;
  color: var(--color-font-secondary);
  margin-bottom: 70px;
  position: relative;
}

.section-title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--color-font-secondary);
}

.btn-component {
  font-size: 18px;
  text-align: center;
  min-width: 100%;
  height: 55px;
  border-radius: 15px;
  color: var(--color-font-primary);
  background-color: var(--bottom-bg);
  padding: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 390px) {
  .container {
    max-width: 390px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 100px;
  }
  .btn-component {
    min-width: 270px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 61px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 140px;
  }
  .btn-component {
    font-size: 24px;
    min-width: 437px;
    height: 62px;
  }
}
