.catalog {
}
.catalog-title {
  width: 290px;
  text-align: right;
  margin-left: 0;
  margin-right: auto;
}
.catalog-block-title {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 28px;
  color: var(--color-font-primary);
  text-align: center;
  margin-bottom: 30px;
}
.catalog-products-list {
  margin-bottom: 30px;
}

.catalog-products-item {
  /* width: 240px !important; */
  border-radius: 15px;
  color: #000000;
  background-color: #ffffff;
  padding: 16px;
  position: relative;
}
.catalog-products-item.swiper-slide {
  transform: scale(0.85);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-products-item.swiper-slide-active {
  transform: scale(1);
  z-index: 1;
}
.catalog-products-item.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 12px;
}
.catalog-products-item.swiper-slide-active::after {
  opacity: 0;
}
.catalog-products-favorite-btn {
  line-height: 0;
  display: block;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: 0;
}
.catalog-products-favorite-icon {
}
.catalog-products-picture {
}
.catalog-products-img {
}
.catalog-products-badge {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-font-primary);
  width: 208px;
  height: 40px;
  border-radius: 22px;
  padding: 12px;
  position: absolute;
  top: 195px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.catalog-products-badge--sale {
  background-color: var(--badge--sale);
}
.catalog-products-badge--new {
  background-color: var(--badge--new);
}
.catalog-products-badge--water {
  background-color: var(--badge--water);
}
.catalog-products-price-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.catalog-products-price {
  font-size: 24px;
  font-weight: 400;
}
.catalog-products-old-price {
  font-size: 16px;
  align-self: flex-end;
}
.catalog-products-old-price--visible {
}
.catalog-products-title {
  text-align: center;
}
.catalog-products-box-hover {
}
.catalog-products-descr {
}
.catalog-products-form {
}
.quantity-control {
}
.quantity-btn {
}
.quantity-input {
}
.catalog-products-btn {
}
.catalog-products-badge--new {
}
.catalog-products-badge--water {
}
.catalog-view-all {
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  min-width: 270px;
  display: block;
}

@media only screen and (min-width: 390px) {
  .catalog-title {
    width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .catalog {
    background-image: url("../img/catalog/catalog-bg.png");
    background-repeat: no-repeat;
    background-size: 753px 1283px;
    background-position: right center;
    min-height: 1283px;
  }
  .catalog-block-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .catalog-products-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 75px;
    padding-left: 0px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  .catalog-products-item {
    width: calc((100% - 150px) / 2) !important;
    margin-right: 0 !important;
  }
  .catalog-products-item.swiper-slide {
    transform: scale(1);
  }
  .catalog-products-item.swiper-slide::after {
    content: none;
  }
  .catalog-products-badge {
    top: 240px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .catalog {
    background-image: url("../img/catalog/catalog-bg@2x.png");
  }
}

@media only screen and (min-width: 1440px) {
  .catalog {
    background-position: right top;
  }
  .catalog-products-list {
    padding: 0 100px;
  }
  .catalog-products-item {
    width: calc((100% - 225px) / 3) !important;
  }
  .catalog-view-all {
    width: 437px;
  }
}
