.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu-list {
  display: none;
}

.burger-menu {
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    column-gap: 16px;
  }
  .burger-menu {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .menu-list {
    column-gap: 32px;
  }
  .menu-item--link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .menu-item--link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-item--link:hover,
  .menu-item--link:focus {
    color: var(--color-font-secondary);
  }
}
