.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-menu-list {
  display: none;
}
.header-burger-menu {
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  .header-menu-list {
    display: flex;
    column-gap: 16px;
  }
  .header-menu-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-burger-menu {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header-menu-list {
    column-gap: 32px;
  }
  .header-menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--color-font-secondary);
  }
}
