.hero {
  background-image: url("../img/hero/hero-bg-mobile-mini.png");
  background-repeat: no-repeat;
  background-size: 320px 277px;
  background-position: center top;
  min-height: 280px;
}
.hero-inner {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 5px;
  border-radius: 16px;
  margin-top: 240px;
  margin-bottom: 40px;
}
.hero-title {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  font-style: italic;
  color: var(--color-font-secondary);
  margin-bottom: 10px;
}
.hero-title span {
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-font-primary);
  padding-left: 25px;
  margin-right: 5px;
}
.hero-subtitle {
  font-size: 14px;
  color: var(--color-font-secondary);
  margin-bottom: 20px;
}
.hero-btn {
  font-size: 18px;
  min-width: 100%;
  height: 55px;
  border-radius: 15px;
  color: var(--color-font-primary);
  background-color: var(--bottom-bg);
  padding: 16px;
}
.hero-benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero-benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.hero-benefits-img {
  width: 24px;
  height: 24px;
}
.hero-benefits-text {
  font-size: 12px;
  text-align: center;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .hero {
    background-image: url("../img/hero/hero-bg-mobile-mini@2x.png");
  }
}

@media only screen and (min-width: 390px) {
  .hero {
    background-image: url("../img/hero/hero-bg-mobile.png");
    background-size: 350px 303px;
    min-height: 305px;
  }
  .hero-title {
    font-size: 22px;
  }
  .hero-title span {
    font-size: 36px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 390px) {
  .hero {
    background-image: url("../img/hero/hero-bg-mobile@2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url("../img/hero/hero-bg-tablet.png");
    background-size: 410px 342px;
    background-position: right top 40px;
    min-height: 390px;
  }
  .hero::after {
    position: absolute;
    content: "";
    top: 250px;
    right: 180px;
    transform: rotate(-150deg);
    width: 262px;
    height: 260px;
    border-radius: 50%;
    border: 2px solid var(--bottom-bg);
    background-color: transparent;
    z-index: -1;
  }
  .hero-inner {
    background: transparent;
    padding: 0;
    margin-top: 0;
    margin-bottom: 210px;
  }
  .hero-title {
    font-size: 28px;
  }
  .hero-title span {
    font-size: 42px;
    padding-left: 50px;
    margin-right: 8px;
  }
  .hero-subtitle {
    color: var(--color-font-primary);
    padding-left: 15px;
  }
  .hero-btn {
    min-width: 270px;
    margin-left: 40px;
  }
  .hero-benefits-list {
    gap: 124px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: url("../img/hero/hero-bg-tablet@2x.png");
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url("../img/hero/hero-bg-desctop.png");
    background-size: 768px 640px;
    background-position: right top 80px;
    min-height: 720px;
  }
  .hero::after {
    top: 375px;
    right: 330px;
    width: 485px;
    height: 481px;
  }
  .hero-inner {
    margin-bottom: 437px;
  }
  .hero-title {
    font-size: 48px;
  }
  .hero-title span {
    font-size: 86px;
    padding-left: 115px;
    margin-right: 8px;
  }
  .hero-subtitle {
    font-size: 24px;
    color: var(--color-font-primary);
    padding-left: 100px;
    margin-bottom: 40px;
  }
  .hero-btn {
    font-size: 24px;
    min-width: 437px;
    height: 62px;
    margin-left: 100px;
  }
  .hero-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--bottom-bg-hover);
  }
  .hero-benefits-img {
    width: 40px;
    height: 40px;
  }
  .hero-benefits-text {
    font-size: 20px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .hero {
    background-image: url("../img/hero/hero-bg-desctop@2x.png");
  }
}
