.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  transform: translateX(150%);
  z-index: 2;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-overlay.is-open {
  transform: translateX(0);
}
.mobile-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 274px;
  height: 100%;
  padding: 20px;
  background-color: var(--bottom-bg-hover);
  background-image: url("../img/mobile-menu/mobile-menu-bg.png");
  background-repeat: no-repeat;
  background-size: 320px 260px;
  background-position: center bottom 10px;
  min-height: 260px;
}
.mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  margin-bottom: 50px;
}
.mobile-contacts {
  font-style: normal;
}
.mobile-contacts-link {
  width: fit-content;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.mobile-close-btn {
  line-height: 0;
}
.mobile-menu-list {
  text-align: right;
}
.mobile-menu-item + .mobile-menu-item {
  margin-top: 10px;
}
.mobile-menu-link {
  padding: 10px 0;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .mobile-inner {
    background-image: url("../img/mobile-menu/mobile-menu-bg@2x.png");
  }
}
