.order {
  background-image: url("../img/order/order-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: 390px 320px;
  background-position: center bottom;
  min-height: 320px;
  padding-bottom: 120px;
}
.order-title {
  width: 290px;
}
.order-help-title {
  margin-left: 0;
  margin-right: auto;
  padding-left: 30px;
}
.order-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  background-color: var(--pop-up-bg);
  margin-bottom: 70px;
}
.order-form-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-font-primary);
  margin-bottom: 24px;
}
.order-form-field {
  display: flex;
  align-items: center;
}
.order-form-field + .order-form-field {
  margin-top: 15px;
}
.order-form-input {
  width: 228px;
  height: 72px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px solid #8f8f8f;
  padding: 24px;
}
.order-form-input::placeholder {
  font-family: var(--color-font-primary);
  font-size: 20px;
  font-weight: 700;
  color: #827679;
}
.order-form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border: 1px solid #8f8f8f;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
}
.order-form-btn {
  margin-top: 24px;
}
.order-descr-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}
.order-descr-item {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 60px;
  position: relative;
}
.order-descr-item span {
  font-size: 14px;
  font-weight: 700;
}
.order-descr-item + .order-descr-item {
  margin-top: 16px;
}
.order-descr-item::after {
  position: absolute;
  content: "";
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 27px;
  height: 20px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.order-customers-title {
  margin-left: auto;
  margin-right: 0;
}
.order-swiper-item.swiper-slide {
  transform: scale(0.85);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-swiper-item.swiper-slide-active {
  transform: scale(1);
  z-index: 1;
}
.order-swiper-item.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 12px;
}
.order-swiper-item.swiper-slide-active::after {
  opacity: 0;
}
.order-swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.order-swiper-button-prev,
.order-swiper-button-next {
  display: none;
}
.order-swiper-button-prev:after {
  content: none;
}
.order-swiper-button-next:after {
  content: none;
}
.order-swiper-pagination {
  display: none;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .order {
    background-image: url("../img/order/order-bg-mobile@2x.png");
  }
}

@media only screen and (min-width: 375px) {
  .order-form-wrapper {
    max-width: 375px;
  }
}

@media only screen and (min-width: 390px) {
  .order-title {
    width: 350px;
  }
  .order-form-wrapper {
    max-width: 390px;
    padding: 15px;
  }
  .order-form-title {
    font-size: 24px;
  }
  .order-form-input {
    width: 286px;
  }
  .order-descr-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .order {
    background-image: url("../img/order/order-bg-desctop.png");
    background-repeat: no-repeat;
    background-size: 776px 1104px;
    background-position: left top;
    min-height: 1104px;
    padding-bottom: 25px;
  }
  .order-help-title {
    width: 480px;
    padding-left: 15px;
  }
  .order-form-wrapper {
    flex-direction: row;
    gap: 40px;
    max-width: 768px;
    padding: 15px;
  }
  .order-form {
    width: calc((100% - 30px) / 2);
  }
  .order-form-title {
    margin-bottom: 40px;
  }
  .order-form-field + .order-form-field {
    margin-top: 20px;
  }
  .order-form-btn {
    width: 100%;
    margin-top: 40px;
  }
  .order-descr {
    width: calc((100% - 30px) / 2);
  }
  .order-descr-title {
    text-align-last: left;
    margin-bottom: 40px;
  }
  .order-descr-item + .order-descr-item {
    margin-top: 30px;
  }
  .order-descr-item {
    font-size: 14px;
  }
  .order-descr-item span {
    font-size: 18px;
  }
  .order-swiper-container {
    position: relative;
  }
  .order-swiper-item.swiper-slide {
    transform: scale(1);
  }
  .order-swiper-item.swiper-slide::after {
    content: none;
  }
  .order-swiper-pagination {
    display: block;
  }
  .order-swiper-pagination.swiper-pagination-bullets {
    bottom: -20px;
  }
  .order-swiper-pagination .swiper-pagination-bullet {
    background-color: var(--color-font-primary);
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--bottom-bg-hover);
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .order {
    background-image: url("../img/order/order-bg-mobile@2x.png");
  }
}

@media only screen and (min-width: 1440px) {
  .order {
    padding-bottom: 50px;
  }
  .order-title {
    width: 490px;
  }
  .order-help-title {
    width: 825px;
    padding-left: 61px;
  }
  .order-form-wrapper {
    gap: 300px;
    max-width: 1440px;
    padding: 36px 61px 86px;
  }
  .order-form {
    width: 437px;
  }
  .order-form-title {
    font-size: 32px;
  }
  .order-form-input {
    width: 100%;
  }
  .order-descr-title {
    font-size: 32px;
  }
  .order-descr-item {
    font-size: 20px;
  }
  .order-descr-item span {
    font-size: 22px;
  }
  .order-swiper-button-prev,
  .order-swiper-button-next {
    display: block;
  }
  .order-swiper-button-prev {
    left: 20px;
  }
  .order-swiper-button-next {
    right: 20px;
  }
  .order-swiper-pagination {
    display: none;
  }
}
