/* Base styles */
@import url("modern-normalize/modern-normalize.css");
@import url("./reset.css");
@import url("./base.css");

/* Library styles */
@import url("swiper/css/bundle");

/* Layout styles */
@import url("./header.css");
@import url("./mobile-menu.css");
@import url("./footer.css");

/* Sections style */

@import url("./hero.css");
@import url("./catalog.css");
@import url("./about.css");
@import url("./order.css");
